{% extends "parent.html" %}
{% block title %} Welcome{% endblock %}
{% block content %}
  <div class="form-group ">
    <label for="password">Password</label>
    <br>
      <input type="password" class="form-control input_field" id="password"  name="password">


  </div>

<span>{{login_error}}</span><br>
<a href="/signup">Not a user ? Signup!</a><br>
<a href="/blog">See Blog as a Guest</a>

<br>


 <button type="submit" class="btn btn-default" form="form-1"  name="form1" value="form1" >Login</button>
{% endblock %}